/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'PT Sans Narrow', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Work Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background: #b9d6f2;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  background: #007991;
  color: white;
}
nav div {
  margin: 2% 0%;
}
nav .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
}
nav .links a {
  text-decoration: none;
  color: white;
}
header {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  max-width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 15% 0%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  margin-bottom: 2%;
}
header p {
  margin: 1%;
}
header button {
  background: #b80c09;
  border: 2px solid #222e50;
  color: white;
  padding: 2% 6%;
  font-size: 1.8rem;
}
.info-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-cards div {
  width: 80%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 2% 0%;
  background: white;
}
.info-cards div img {
  height: 250px;
}
.info-cards div p {
  border-top: 2px solid black;
  width: 100%;
  text-align: center;
  padding: 2%;
  background: #222e50;
  color: white;
}
.info-cards div:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 5px #222e50;
  margin: 8% 0%;
}
.success-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: brown;
  color: white;
  margin: 2% 0%;
}
.success-stories h2 {
  margin: 2% 0%;
}
.success-stories div {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.success-stories div img {
  border-radius: 50%;
}
.success-stories div p {
  font-size: 1.8rem;
}
.success-stories .mobile-hidden {
  display: none;
}
.success-stories .name {
  text-align: right;
  font-size: 1.6rem;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.features .outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #222e50;
  margin: 2% 0%;
}
.features .outer div {
  margin: 2% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.features .outer div img {
  margin-right: 5%;
}
.features .outer .odd {
  flex-direction: row-reverse;
}
.features .outer:last-child {
  border-bottom: none;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: #222e50;
  color: white;
  padding: 2% 0%;
}
.contact .contact-top {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact .contact-top .lists li {
  font-size: 1.4rem;
  line-height: 1.5;
}
.contact .contact-top h3 {
  border-bottom: 1px solid white;
  margin-bottom: 10%;
}
.contact .subscription {
  margin-top: 2%;
  text-align: center;
  width: 100%;
}
.contact .subscription button {
  background: #b80c09;
  border: 2px solid #222e50;
  color: white;
  padding: 1% 3%;
}
footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  background: #007991;
  color: white;
}
footer div {
  margin: 2% 0%;
}
footer .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
}
footer .links a {
  text-decoration: none;
  color: white;
}
footer h2 {
  font-size: 1.6rem;
}
